// #colors
$picton-blue: #3ea4fa; //strike lines
$madison: #2d3950; //dark lettering
$aluminum: #999999;
$oslo-grey: #8a8c8f;
$black-haze: #f6f9f9; //every other section - alternates with white
$manatee: #99A0A9; //button for subscribe newsletter
$white: #ffffff; //strict letters in hero