.form-control {
  background: rgba(0, 0, 0, 0);
  border: 0.0625rem solid $aluminum; // 1/16
  border-radius: 0.3125rem; // 5/16
  display: block;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
}

.contact-form {
  padding: 0 1rem 0 1rem;
  margin: 0 auto;
  max-width: 44.25rem; // 708/16
}

.message {
  height: 10rem; // 160/16
}

.button {
  background: transparent;
  border: 0.0625rem solid #3ea4fa; // 1/16
  border-radius: 0.3125rem; // 5/16
  color: #fff;
  float: right;
  padding: 1rem;
  width: 8.935rem; // 143/16
}

.newsletter {
  color: $white;
  display: inline-block;
  margin-top: 1rem;
}

[type="text"] {
  color: $aluminum;
}

[type="email"] {
  color: $aluminum;
}

[name="message"] {
  color: $aluminum;
}

@media only screen and (min-width:320px) and (max-width: 640px) {
  .button {
    width: 5.625rem; // 90/16
  }
}
