.form-control {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid $aluminum;
  border-radius: 5px;
  display: block;
  margin: auto;
  padding: 2rem;
  width: 35rem;
}

.button {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid $picton-blue;
  border-radius: 5px;
  color: $white;
  padding: 1rem;
  width: 8.935rem;
}

.newsletter {
  color: $white;
  border-radius: 5px;
  display: inline-block;
  height: 25px;
  padding: 1rem;
  width: 25px;
}
