.form-control {
  background: rgba(0, 0, 0, 0);
  border: 1px solid $aluminum;
  border-radius: 5px;
  display: block;
  margin: auto;
  padding: 2rem;
  width: 37.5rem;
}

.message {
  height: 160px;
}

.button {
  background: transparent;
  border: 1px solid #3ea4fa;
  border-radius: 5px;
  color: #fff;
  margin-left: 302px;
  margin-right: -0.5rem;
  padding: 1rem;
  position: relative;
  top: -2px;
  width: 8.935rem;
}


@media (min-width: 1px) and (max-width: 767px) {
  .button {
  	margin-left: 180px;
	  margin-right: -.5rem;
	  padding: 8px;
	  position: relative;
	  top: -33px;
	  width: 7.935rem;
    margin-right: 14rem;
  }
}

.newsletter {
  display: inline-block;
  color: $white;
  margin-left: 5px;
  position: relative;
}

[type="text"] {
  color: $aluminum;
}

[type="email"] {
  color: $aluminum;
}

[name="message"] {
  color: $aluminum;
}


@media (min-width: 1px) and (max-width: 767px) {
  .form-control {
    width: 14rem;
  }
}
