.bold    {
  font-weight: bold;
}

.regular {
   font-weight: normal;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase; letter-spacing: 0.2em;
}

.left-align {
  text-align: left center;
}

.center {
  text-align: center;
}

.right-align  {
   text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-wrap: break-word;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
list-style: none;
padding-left: 0;
}

.x-group-item {
  margin-left: -1px;
}
.x-group-item:first-of-type {
  margin-left: 0;
}

.y-group-item {
  margin-top: -1px;
}
.y-group-item:first-of-type {
  margin-top: 0;
}

.x-group-item:focus,
.y-group-item:focus {
  position: relative;
  z-index: 1;
}
