.feature {
  background-color: $white;
  min-height: 21.25rem; // 340/16
  max-width: 100%;
}

.grey {
  color: $aluminum;
}

.feature-icon {
  background-image: url("../img/bluebg.png");
  color: $white;
  height: 6.25rem; // 100/16
  line-height: 6.25rem; // 100/16
  margin-top: 4rem; // 64/16
  width: 6.25rem; // 100/16
}

.sub-caption {
  display: inline-block;
  font-size: 1rem;
  line-height: 24px;
  margin: 0 auto;
  padding: 0 46px;
  text-align: center;
}

.middle-caption, .right-caption {
  padding: 0 46px;
}

@media only screen and (min-width:320px) and (max-width: 640px) {
  .feature, .col {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0.3125rem; // 5/16
  }
}
