.feature {
  background-color: $white;
  min-height: 21.25rem;
}

.grey {
  color: $aluminum;
}

.feature-icon {
  background-image: url("../img/bluebg.png");
  color: $white;
  height: 6.25rem; // 100/16
  line-height: 6.25rem; // 100/16
  margin-top: 4rem;
  width: 6.25rem; // 100/16
}

.sub-caption {
  font-size: 1.0625rem; // 17/16
  text-align: center;
}

.middle-caption {
  margin-left: 1.25rem; // 20/16
}
