.hero {
  background-image: url("../img/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  padding: absolute;

  .container {
    display: flex;
    min-height: 50rem;
    padding-top: 3.125rem;
  }
}

.line {
  background-color: $picton-blue;
  border: 0;
  height: 2px;
  position: relative;
  right: 8px;
  top: -29px;
  width: 55%;
}

.stay-button {
  background: rgba(0, 0, 0, 0);
  border: 1px solid $picton-blue;
  border-radius: 5px;
  color: $white;
  font-size: 18px;
  margin: 3.125rem auto;
  min-height: 4.0625rem;
  min-width: 11.5rem;
  overflow: hidden;
}

.stay-button:hover {
  background-color: $picton-blue;
}

.angle {
  color: $white;
  font-size: 2rem;
  margin-top: 75px;
}

@media only screen and (max-width: 400px) {
  .angle {
    margin-top: 140px;
  }
}

@media only screen and (max-width: 400px) {
  .line {
    top: -9px;
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .design {
    text-align: left;
  }
}
