.hero {
  background-image: url("../img/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  padding: absolute;

  .container {
    display: flex;
    min-height: 50rem;
    padding-top: 3.125rem;
  }
}

.line {
  background-color: $picton-blue;
  border: 0;
  height: 0.125rem; // 2/16
  position: relative;
  right: 0.5rem; // 8/16
  top: 0.018125rem; // -29/16
  width: 55%;
}

.stay-button {
  background: rgba(0, 0, 0, 0);
  border: 0.0625rem solid $picton-blue; // 1/16
  border-radius: 0.3125rem; // 5/16
  color: $white;
  font-size: 1.125rem; // 18/16
  margin: 3.125rem auto; // 50/16
  min-height: 4.0625rem; // 65/16
  min-width: 11.5rem; // 184/16
  overflow: hidden;
}

.stay-button:hover {
  background-color: $picton-blue;
}

.angle {
  color: $white;
  font-size: 2rem; // 32/16
  margin-top: 4.6875rem; // 75/16
}
