.main-header {
    background-color: $black-haze;
}

.logo {
  color: $madison;
  font-size: 2rem;
  margin: 0 45px;
}

.logo-image {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  margin: 3px 100px;
}
