.footer {
  background-color: $black-haze;
  height: 5.625rem; // 90/16
  width: 12.5rem; // 200/16
}

.copy {
  color: $aluminum;
  display: inline-block;
  margin: 3.125rem; // 50/16
}

.social-menu {
  float: right;
  list-style: none;
  margin-top: 3.125rem; // 50/16
  padding: 0 0 0.9375rem 0; // 15/16
}

.social-icon {
  background-color: $picton-blue;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 2.625rem; // 42/16
  margin-right: 0.125rem; // 2/16
  width: 2.625rem; // 42/16
}

.link {
  margin-right: 9.375rem;
}

.white {
  color: $white;
}

.bird,
.face,
.plus,
.linked {
  color: $white;
  font-size: 1rem;
  padding-top: 0.9375rem; // 15/16
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .copy {
    display: block;
    position: relative;
    text-align: center;
  }
}

@media only screen and (min-width:320px) and (max-width: 640px) {
  .social-menu {
    float: none;
    margin: 0 auto;
    position: relative;
    text-align: center;
 }
}

@media only screen and (min-width:320px) and (max-width: 640px) {
  .link {
    margin: 0;
 }
}
