.main-header {
  background-color: $black-haze;
  height: 6.25rem;
  position: relative;
}

.logo {
  color: $madison;
  font-size: 2rem;
  margin: 1.875rem 2.8125rem; // 30/16 45/16
}

.logo-image {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  margin: 0.3125rem 6.25rem; // 5/16 100/16
}
