.footer {
  background-color: $black-haze;
  height: 5.625rem; // 90/16
  width: 12.5rem; // 200/16
}

.copy {
  color: $aluminum;
  display: block;
  margin: 3.125rem; // 50/16
}

.social-menu {
  float: right;
  list-style: none;
  margin: -4.875rem;; //
  padding: 0 0 0.9375rem 0; // 15/16
}

.social-icon {
  background-color: $picton-blue;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 2.625rem; // 42/16
  margin-right: 0.125rem; // 2/16
  width: 2.625rem; // 42/16
}

.link {
  margin-right: 9.375rem;
}

.white {
  color: $white;
}

.bird,
.face,
.plus,
.linked {
  color: $white;
  font-size: 1rem;
  padding-top: 0.9375rem; // 15/16
}

@media only screen and (min-width:320px) and (max-width: 640px) {
  .copy {
    margin: 32px 90px 96px
 }
}

@media only screen and (min-width:320px) and (max-width: 640px) {
  .social-menu {
    margin-left: 50px;
    width: 100%;
 }
}
