.main-header {
    background-color: $black-haze;
    height: 6.25rem;
}

.logo {
  color: $madison;
  font-size: 2rem;
  margin: 30px 45px;
}

.logo-image {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  margin: 5px 100px;
}
