.portfolio {
  background-color: $black-haze;
  background: cover;
  padding-bottom: 7.5rem;
}

.showcase {
  padding-top: 5.625rem;
}

.img-list {
  display: inline-block;
  height: 260px;
  list-style-type: none;
  width: 360px;
}

.m-l {
  margin-left: 13.75rem;
}

.hover-container {
  text-align: center;
}
