.simple {
  background-color: $black-haze;
  min-height: 21.5625rem;
  padding-top: 7rem;
}

.design {
  color: $aluminum;
  padding: 15px 150px;
}

@media only screen and (min-width: 320px) {
  .design {
    padding: 15px 7px;
  }
}
